In [2]:
import sys
import os
import pandas as pd
import numpy as np
import itertools
sys.path.append('..')
sys.path.append('../src')
sys.path.append('../data')
# from Src.config import hf_access_token, hf_model_cache_dir # noqa: E402
# os.environ["HF_HOME"] = hf_model_cache_dir 
# import torch

%load_ext autoreload
%autoreload 2

Load the model "gpt2" or "EleutherAI/pythia-6.9b"

In [3]:
from Src.model import ModelFactory
model = ModelFactory.create("gpt2")

/home/viki/miniconda3/envs/fact/lib/python3.10/site-packages/huggingface_hub/file_download.py:795: FutureWarning: `resume_download` is deprecated and will be removed in version 1.0.0. Downloads always resume when possible. If you want to force a new download, use `force_download=True`.
  warnings.warn(

Loaded pretrained model gpt2 into HookedTransformer

Then load the dataset (Warning, select the right dataset for the model you loaded). Load also the ablator class

In [4]:
from Src.dataset import BaseDataset
from Src.experiment import Ablator


dataset = BaseDataset(path = "../data/full_data_sampled_gpt2.json",
                      model = model,
                      experiment="copyVSfact",
                      no_subject=True)
ablator = Ablator(model=model, dataset=dataset, experiment="copyVSfact", batch_size=20)

 No subject found in the dataset , proceeding with no subject data

Tokenizing and computing lengths: 100%|██████████| 10000/10000 [00:50<00:00, 196.44it/s]

Set the heads that you want to modify, the value to multiply the heads and the token position that you want to modify (all, or attribute):

In [5]:
cofa_heads = [(7, 10), (9, 9), (9, 6), (10, 0)]
fa_heads = [(10, 7), (11, 10), (11, 3)]

betas = [1, 0]
alphas = [1, 5]

In [58]:
# ablator.set_heads(heads=[(10, 3)], value=2, position='attribute')
# print(ablator.model.model.hook_dict.values())

Run the attention modification:


- mem --> logit of the factual token


- cp --> logit of the counterfactual token

- mem win --> number of factual predictions

- cp win --> number of counterfactual predictions

In [65]:
result_boost = []
for alpha in alphas:
    # all subsets of fa heads
    for fa_max in range(1, len(fa_heads)+1):
        for fa_heads_subset in itertools.combinations(fa_heads, fa_max):
            print(f'alpha: {alpha}, fa_heads_subset: {fa_heads_subset}')
            ablator.set_heads(heads=list(fa_heads_subset), value=alpha, position='attribute')
            
            cur_df = ablator.run()
            cur_df['alpha'] = alpha
            cur_df['heads'] = str(fa_heads_subset)
            cur_df['experiment'] = 'boost'
            result_boost.append(cur_df)

result_boost = pd.concat(result_boost)

alpha: 1, fa_heads_subset: ((10, 7),)

Ablating:   0%|          | 0/24 [00:00<?, ?it/s]

Ablating: 100%|██████████| 24/24 [01:19<00:00,  3.30s/it]

alpha: 1, fa_heads_subset: ((11, 10),)

Ablating: 100%|██████████| 24/24 [01:19<00:00,  3.31s/it]

alpha: 1, fa_heads_subset: ((11, 3),)

Ablating: 100%|██████████| 24/24 [01:19<00:00,  3.32s/it]

alpha: 1, fa_heads_subset: ((10, 7), (11, 10))

Ablating: 100%|██████████| 24/24 [01:51<00:00,  4.65s/it]

alpha: 1, fa_heads_subset: ((10, 7), (11, 3))

Ablating: 100%|██████████| 24/24 [01:51<00:00,  4.64s/it]

alpha: 1, fa_heads_subset: ((11, 10), (11, 3))

Ablating: 100%|██████████| 24/24 [01:52<00:00,  4.67s/it]

alpha: 1, fa_heads_subset: ((10, 7), (11, 10), (11, 3))

Ablating: 100%|██████████| 24/24 [02:24<00:00,  6.03s/it]

alpha: 5, fa_heads_subset: ((10, 7),)

Ablating: 100%|██████████| 24/24 [01:21<00:00,  3.41s/it]

alpha: 5, fa_heads_subset: ((11, 10),)

Ablating: 100%|██████████| 24/24 [01:20<00:00,  3.36s/it]

alpha: 5, fa_heads_subset: ((11, 3),)

Ablating: 100%|██████████| 24/24 [01:25<00:00,  3.54s/it]

alpha: 5, fa_heads_subset: ((10, 7), (11, 10))

Ablating: 100%|██████████| 24/24 [01:55<00:00,  4.83s/it]

alpha: 5, fa_heads_subset: ((10, 7), (11, 3))

Ablating: 100%|██████████| 24/24 [01:57<00:00,  4.88s/it]

alpha: 5, fa_heads_subset: ((11, 10), (11, 3))

Ablating: 100%|██████████| 24/24 [02:06<00:00,  5.29s/it]

alpha: 5, fa_heads_subset: ((10, 7), (11, 10), (11, 3))

Ablating: 100%|██████████| 24/24 [02:43<00:00,  6.81s/it]

In [66]:
print(result_boost)

         mem         cp      diff   mem_std    cp_std  diff_std  mem_win  \
0  13.981473  17.561539 -3.580064  1.674214  2.685192  2.665300    413.0
0  13.981473  17.561539 -3.580064  1.674214  2.685192  2.665300    413.0
0  13.981473  17.561539 -3.580064  1.674214  2.685192  2.665300    413.0
0  13.981473  17.561539 -3.580064  1.674214  2.685192  2.665300    413.0
0  13.981473  17.561539 -3.580064  1.674214  2.685192  2.665300    413.0
0  13.981473  17.561539 -3.580064  1.674214  2.685192  2.665300    413.0
0  13.981473  17.561539 -3.580064  1.674214  2.685192  2.665300    413.0
0  14.456228  16.385796 -1.929568  1.665862  2.691089  2.686700   2392.0
0  13.594149  15.910871 -2.316722  1.651094  2.787582  2.762573   1864.0
0  13.966662  17.532597 -3.565933  1.673361  2.688501  2.663716    421.0
0  13.857364  14.130378 -0.273015  1.666047  2.702236  2.729101   5014.0
0  14.439142  16.357597 -1.918455  1.665223  2.691837  2.685108   2419.0
0  13.578178  15.880326 -2.302147  1.650852  2.791918  2.761556   1880.0
0  13.838650  14.100289 -0.261641  1.665650  2.704713  2.727966   5042.0

   cp_win  alpha                         heads experiment
0  9547.0      1                    ((10, 7),)      boost
0  9547.0      1                   ((11, 10),)      boost
0  9547.0      1                    ((11, 3),)      boost
0  9547.0      1           ((10, 7), (11, 10))      boost
0  9547.0      1            ((10, 7), (11, 3))      boost
0  9547.0      1           ((11, 10), (11, 3))      boost
0  9547.0      1  ((10, 7), (11, 10), (11, 3))      boost
0  7495.0      5                    ((10, 7),)      boost
0  8009.0      5                   ((11, 10),)      boost
0  9540.0      5                    ((11, 3),)      boost
0  4614.0      5           ((10, 7), (11, 10))      boost
0  7470.0      5            ((10, 7), (11, 3))      boost
0  7989.0      5           ((11, 10), (11, 3))      boost
0  4579.0      5  ((10, 7), (11, 10), (11, 3))      boost

In [68]:
result_surpress = []
# for beta in betas:
    # all subsets of cofa heads
for cofa_max in range(1, len(cofa_heads)+1):
    for cofa_heads_subset in itertools.combinations(cofa_heads, cofa_max):
        print(f'beta: {0}, cofa_heads_subset: {cofa_heads_subset}')
        ablator.set_heads(heads=list(cofa_heads_subset), value=0, position='attribute')
        cur_df = ablator.run()
        cur_df['beta'] = 0
        cur_df['heads'] = str(cofa_heads_subset)
        cur_df['experiment'] = 'surpress'
        result_surpress.append(cur_df)

result_surpress = pd.concat(result_surpress)

beta: 0, cofa_heads_subset: ((7, 10),)

Ablating: 100%|██████████| 24/24 [01:20<00:00,  3.36s/it]

beta: 0, cofa_heads_subset: ((9, 9),)

Ablating: 100%|██████████| 24/24 [01:23<00:00,  3.50s/it]

beta: 0, cofa_heads_subset: ((9, 6),)

Ablating: 100%|██████████| 24/24 [01:21<00:00,  3.41s/it]

beta: 0, cofa_heads_subset: ((10, 0),)

Ablating: 100%|██████████| 24/24 [01:20<00:00,  3.35s/it]

beta: 0, cofa_heads_subset: ((7, 10), (9, 9))

Ablating: 100%|██████████| 24/24 [01:52<00:00,  4.70s/it]

beta: 0, cofa_heads_subset: ((7, 10), (9, 6))

Ablating: 100%|██████████| 24/24 [01:52<00:00,  4.70s/it]

beta: 0, cofa_heads_subset: ((7, 10), (10, 0))

Ablating: 100%|██████████| 24/24 [01:53<00:00,  4.74s/it]

beta: 0, cofa_heads_subset: ((9, 9), (9, 6))

Ablating: 100%|██████████| 24/24 [01:53<00:00,  4.74s/it]

beta: 0, cofa_heads_subset: ((9, 9), (10, 0))

Ablating: 100%|██████████| 24/24 [01:52<00:00,  4.71s/it]

beta: 0, cofa_heads_subset: ((9, 6), (10, 0))

Ablating: 100%|██████████| 24/24 [01:51<00:00,  4.64s/it]

beta: 0, cofa_heads_subset: ((7, 10), (9, 9), (9, 6))

Ablating: 100%|██████████| 24/24 [02:18<00:00,  5.78s/it]

beta: 0, cofa_heads_subset: ((7, 10), (9, 9), (10, 0))

Ablating: 100%|██████████| 24/24 [02:25<00:00,  6.08s/it]

beta: 0, cofa_heads_subset: ((7, 10), (9, 6), (10, 0))

Ablating: 100%|██████████| 24/24 [02:45<00:00,  6.89s/it]

beta: 0, cofa_heads_subset: ((9, 9), (9, 6), (10, 0))

Ablating: 100%|██████████| 24/24 [03:23<00:00,  8.47s/it]

beta: 0, cofa_heads_subset: ((7, 10), (9, 9), (9, 6), (10, 0))

Ablating: 100%|██████████| 24/24 [02:56<00:00,  7.34s/it]

In [69]:
data = pd.concat([result_boost, result_surpress])
data.to_csv('results_boost_surpress.csv', index=False)
data

,mem,cp,diff,mem_std,cp_std,diff_std,mem_win,cp_win,alpha,heads,experiment,beta
0,13.981473,17.561539,-3.580064,1.674214,2.685192,2.665300,413.0,9547.0,1.0,"((10, 7),)",boost,NaN
0,13.981473,17.561539,-3.580064,1.674214,2.685192,2.665300,413.0,9547.0,1.0,"((11, 10),)",boost,NaN
0,13.981473,17.561539,-3.580064,1.674214,2.685192,2.665300,413.0,9547.0,1.0,"((11, 3),)",boost,NaN
0,13.981473,17.561539,-3.580064,1.674214,2.685192,2.665300,413.0,9547.0,1.0,"((10, 7), (11, 10))",boost,NaN
0,13.981473,17.561539,-3.580064,1.674214,2.685192,2.665300,413.0,9547.0,1.0,"((10, 7), (11, 3))",boost,NaN
0,13.981473,17.561539,-3.580064,1.674214,2.685192,2.665300,413.0,9547.0,1.0,"((11, 10), (11, 3))",boost,NaN
0,13.981473,17.561539,-3.580064,1.674214,2.685192,2.665300,413.0,9547.0,1.0,"((10, 7), (11, 10), (11, 3))",boost,NaN
0,14.456228,16.385796,-1.929568,1.665862,2.691089,2.686700,2392.0,7495.0,5.0,"((10, 7),)",boost,NaN
0,13.594149,15.910871,-2.316722,1.651094,2.787582,2.762573,1864.0,8009.0,5.0,"((11, 10),)",boost,NaN
0,13.966662,17.532597,-3.565933,1.673361,2.688501,2.663716,421.0,9540.0,5.0,"((11, 3),)",boost,NaN
0,13.857364,14.130378,-0.273015,1.666047,2.702236,2.729101,5014.0,4614.0,5.0,"((10, 7), (11, 10))",boost,NaN
0,14.439142,16.357597,-1.918455,1.665223,2.691837,2.685108,2419.0,7470.0,5.0,"((10, 7), (11, 3))",boost,NaN
0,13.578178,15.880326,-2.302147,1.650852,2.791918,2.761556,1880.0,7989.0,5.0,"((11, 10), (11, 3))",boost,NaN
0,13.838650,14.100289,-0.261641,1.665650,2.704713,2.727966,5042.0,4579.0,5.0,"((10, 7), (11, 10), (11, 3))",boost,NaN
0,14.295341,17.379835,-3.084497,1.686983,2.501286,2.536508,585.0,9367.0,NaN,"((7, 10),)",surpress,0.0
0,14.301937,17.501671,-3.199732,1.711332,2.665028,2.580488,613.0,9337.0,NaN,"((9, 9),)",surpress,0.0
0,13.992841,17.671854,-3.679014,1.744448,2.708357,2.742359,419.0,9546.0,NaN,"((9, 6),)",surpress,0.0
0,14.532300,17.067745,-2.535445,1.582479,2.740251,2.591399,1274.0,8660.0,NaN,"((10, 0),)",surpress,0.0
0,14.697640,17.198021,-2.500379,1.735259,2.422641,2.392440,1048.0,8883.0,NaN,"((7, 10), (9, 9))",surpress,0.0
0,14.308892,17.484802,-3.175911,1.772174,2.536055,2.640532,621.0,9340.0,NaN,"((7, 10), (9, 6))",surpress,0.0
0,14.784473,16.912218,-2.127743,1.617704,2.559935,2.480468,1658.0,8264.0,NaN,"((7, 10), (10, 0))",surpress,0.0
0,14.301565,17.627138,-3.325571,1.781760,2.691716,2.673940,628.0,9329.0,NaN,"((9, 9), (9, 6))",surpress,0.0
0,14.940478,16.935949,-1.995473,1.608245,2.714041,2.436320,1868.0,8041.0,NaN,"((9, 9), (10, 0))",surpress,0.0
0,14.790460,16.965483,-2.175023,1.611213,2.800537,2.645887,1817.0,8098.0,NaN,"((9, 6), (10, 0))",surpress,0.0
0,14.701550,17.322069,-2.620520,1.819500,2.463759,2.521231,1106.0,8837.0,NaN,"((7, 10), (9, 9), (9, 6))",surpress,0.0
0,15.271722,16.640741,-1.369017,1.653498,2.472515,2.259301,2819.0,7070.0,NaN,"((7, 10), (9, 9), (10, 0))",surpress,0.0
0,15.069153,16.766884,-1.697729,1.660224,2.633436,2.545726,2508.0,7400.0,NaN,"((7, 10), (9, 6), (10, 0))",surpress,0.0
0,15.199148,16.834558,-1.635410,1.655968,2.781365,2.522774,2608.0,7288.0,NaN,"((9, 9), (9, 6), (10, 0))",surpress,0.0
0,15.558090,16.491285,-0.933195,1.716989,2.559675,2.379043,3878.0,6010.0,NaN,"((7, 10), (9, 9), (9, 6), (10, 0))",surpress,0.0

In [74]:
best_boost = [((10, 7), (11, 10), (11, 3)), ((10, 7), (11, 10))]
best_surpress = [((7, 10), (9, 9), (9, 6), (10, 0)), ((7, 10), (9, 9), (10, 0)), ((9, 9), (9, 6), (10, 0))]
combined_result = []
for bost in best_boost:
    for surpress in best_surpress:
        ablator.set_heads(heads=list(bost), value=5, position='attribute')
        ablator.set_heads(heads=list(surpress), value=0, position='attribute', reset=False)
        cur_df = ablator.run()
        cur_df['experiment'] = 'combined'
        cur_df['heads_boost'] = str(bost)
        cur_df['beta'] = 0
        cur_df['alpha'] = 5
        cur_df['heads_surpress'] = str(surpress)
        combined_result.append(cur_df)

combined_result = pd.concat(combined_result)

Ablating: 100%|██████████| 24/24 [05:01<00:00, 12.57s/it]
Ablating: 100%|██████████| 24/24 [04:34<00:00, 11.46s/it]
Ablating: 100%|██████████| 24/24 [04:32<00:00, 11.37s/it]
Ablating: 100%|██████████| 24/24 [04:27<00:00, 11.16s/it]
Ablating: 100%|██████████| 24/24 [03:12<00:00,  8.02s/it]
Ablating: 100%|██████████| 24/24 [03:12<00:00,  8.00s/it]

In [5]:
ablator.set_heads(heads=[(10, 7), (11, 10)], value=5, position='all')
ablator.set_heads(heads=[(7, 10), (9, 9), (9, 6), (10, 0)], value=0, position='all', reset=False)
cur_df = ablator.run()
cur_df

Ablating:   0%|          | 0/24 [00:00<?, ?it/s]

Ablating: 100%|██████████| 24/24 [08:58<00:00, 22.43s/it]

,mem,cp,diff,mem_std,cp_std,diff_std,mem_win,cp_win
0,14.403828,15.590135,-1.186308,1.689213,2.639493,2.233936,2894.0,6839.0

In [75]:
data = pd.concat([result_boost, result_surpress, combined_result])
data.to_csv('results_boost_surpress.csv', index=False)
data

,mem,cp,diff,mem_std,cp_std,diff_std,mem_win,cp_win,alpha,heads,experiment,beta,heads_boost,heads_surpress
0,13.981473,17.561539,-3.580064,1.674214,2.685192,2.665300,413.0,9547.0,1.0,"((10, 7),)",boost,NaN,NaN,NaN
0,13.981473,17.561539,-3.580064,1.674214,2.685192,2.665300,413.0,9547.0,1.0,"((11, 10),)",boost,NaN,NaN,NaN
0,13.981473,17.561539,-3.580064,1.674214,2.685192,2.665300,413.0,9547.0,1.0,"((11, 3),)",boost,NaN,NaN,NaN
0,13.981473,17.561539,-3.580064,1.674214,2.685192,2.665300,413.0,9547.0,1.0,"((10, 7), (11, 10))",boost,NaN,NaN,NaN
0,13.981473,17.561539,-3.580064,1.674214,2.685192,2.665300,413.0,9547.0,1.0,"((10, 7), (11, 3))",boost,NaN,NaN,NaN
0,13.981473,17.561539,-3.580064,1.674214,2.685192,2.665300,413.0,9547.0,1.0,"((11, 10), (11, 3))",boost,NaN,NaN,NaN
0,13.981473,17.561539,-3.580064,1.674214,2.685192,2.665300,413.0,9547.0,1.0,"((10, 7), (11, 10), (11, 3))",boost,NaN,NaN,NaN
0,14.456228,16.385796,-1.929568,1.665862,2.691089,2.686700,2392.0,7495.0,5.0,"((10, 7),)",boost,NaN,NaN,NaN
0,13.594149,15.910871,-2.316722,1.651094,2.787582,2.762573,1864.0,8009.0,5.0,"((11, 10),)",boost,NaN,NaN,NaN
0,13.966662,17.532597,-3.565933,1.673361,2.688501,2.663716,421.0,9540.0,5.0,"((11, 3),)",boost,NaN,NaN,NaN
0,13.857364,14.130378,-0.273015,1.666047,2.702236,2.729101,5014.0,4614.0,5.0,"((10, 7), (11, 10))",boost,NaN,NaN,NaN
0,14.439142,16.357597,-1.918455,1.665223,2.691837,2.685108,2419.0,7470.0,5.0,"((10, 7), (11, 3))",boost,NaN,NaN,NaN
0,13.578178,15.880326,-2.302147,1.650852,2.791918,2.761556,1880.0,7989.0,5.0,"((11, 10), (11, 3))",boost,NaN,NaN,NaN
0,13.838650,14.100289,-0.261641,1.665650,2.704713,2.727966,5042.0,4579.0,5.0,"((10, 7), (11, 10), (11, 3))",boost,NaN,NaN,NaN
0,14.295341,17.379835,-3.084497,1.686983,2.501286,2.536508,585.0,9367.0,NaN,"((7, 10),)",surpress,0.0,NaN,NaN
0,14.301937,17.501671,-3.199732,1.711332,2.665028,2.580488,613.0,9337.0,NaN,"((9, 9),)",surpress,0.0,NaN,NaN
0,13.992841,17.671854,-3.679014,1.744448,2.708357,2.742359,419.0,9546.0,NaN,"((9, 6),)",surpress,0.0,NaN,NaN
0,14.532300,17.067745,-2.535445,1.582479,2.740251,2.591399,1274.0,8660.0,NaN,"((10, 0),)",surpress,0.0,NaN,NaN
0,14.697640,17.198021,-2.500379,1.735259,2.422641,2.392440,1048.0,8883.0,NaN,"((7, 10), (9, 9))",surpress,0.0,NaN,NaN
0,14.308892,17.484802,-3.175911,1.772174,2.536055,2.640532,621.0,9340.0,NaN,"((7, 10), (9, 6))",surpress,0.0,NaN,NaN
0,14.784473,16.912218,-2.127743,1.617704,2.559935,2.480468,1658.0,8264.0,NaN,"((7, 10), (10, 0))",surpress,0.0,NaN,NaN
0,14.301565,17.627138,-3.325571,1.781760,2.691716,2.673940,628.0,9329.0,NaN,"((9, 9), (9, 6))",surpress,0.0,NaN,NaN
0,14.940478,16.935949,-1.995473,1.608245,2.714041,2.436320,1868.0,8041.0,NaN,"((9, 9), (10, 0))",surpress,0.0,NaN,NaN
0,14.790460,16.965483,-2.175023,1.611213,2.800537,2.645887,1817.0,8098.0,NaN,"((9, 6), (10, 0))",surpress,0.0,NaN,NaN
0,14.701550,17.322069,-2.620520,1.819500,2.463759,2.521231,1106.0,8837.0,NaN,"((7, 10), (9, 9), (9, 6))",surpress,0.0,NaN,NaN
0,15.271722,16.640741,-1.369017,1.653498,2.472515,2.259301,2819.0,7070.0,NaN,"((7, 10), (9, 9), (10, 0))",surpress,0.0,NaN,NaN
0,15.069153,16.766884,-1.697729,1.660224,2.633436,2.545726,2508.0,7400.0,NaN,"((7, 10), (9, 6), (10, 0))",surpress,0.0,NaN,NaN
0,15.199148,16.834558,-1.635410,1.655968,2.781365,2.522774,2608.0,7288.0,NaN,"((9, 9), (9, 6), (10, 0))",surpress,0.0,NaN,NaN
0,15.558090,16.491285,-0.933195,1.716989,2.559675,2.379043,3878.0,6010.0,NaN,"((7, 10), (9, 9), (9, 6), (10, 0))",surpress,0.0,NaN,NaN
0,15.385982,12.946010,2.439970,1.745049,2.787324,2.751831,7862.0,1591.0,5.0,NaN,combined,0.0,"((10, 7), (11, 10), (11, 3))","((7, 10), (9, 9), (9, 6), (10, 0))"
0,15.066147,12.857540,2.208606,1.685526,2.568035,2.519094,7738.0,1611.0,5.0,NaN,combined,0.0,"((10, 7), (11, 10), (11, 3))","((7, 10), (9, 9), (10, 0))"
0,15.020924,13.130342,1.890582,1.674435,2.952828,2.797500,7435.0,2046.0,5.0,NaN,combined,0.0,"((10, 7), (11, 10), (11, 3))","((9, 9), (9, 6), (10, 0))"
0,15.410898,12.896770,2.514130,1.740880,2.849144,2.791324,7881.0,1579.0,5.0,NaN,combined,0.0,"((10, 7), (11, 10))","((7, 10), (9, 9), (9, 6), (10, 0))"
0,15.091547,12.849116,2.242429,1.680636,2.595985,2.526749,7763.0,1591.0,5.0,NaN,combined,0.0,"((10, 7), (11, 10))","((7, 10), (9, 9), (10, 0))"
0,15.046713,13.077932,1.968780,1.669838,3.013070,2.842006,7474.0,2022.0,5.0,NaN,combined,0.0,"((10, 7), (11, 10))","((9, 9), (9, 6), (10, 0))"

In [32]:
data.to_csv("../data/ablation_results.csv", index=False)

In [8]:
individual = []
ablator.set_heads(heads=[(10, 0)], value=0, position="attribute") #counter
individual.append(ablator.run())


ablator.set_heads(heads=[(11, 3)], value=5, position="attribute") #fact
individual.append(ablator.run())


ablator.set_heads(heads=[(10, 0)], value=0, position="attribute")
ablator.set_heads(heads=[(11, 3)], value=5, position="attribute", reset=False)
individual.append(ablator.run())

individual_data = pd.concat(individual)
individual_data["experiment"] = "individual"
individual_data["fa_alpha"] = [1, 5, 5]
individual_data["cofa_alpha"] = [0, 1, 0]
individual_data['percentage'] = individual_data['mem_win'] / (individual_data['mem_win'] + individual_data['cp_win']).astype(float)

individual_data

Ablating: 100%|██████████| 24/24 [01:14<00:00,  3.12s/it]
Ablating: 100%|██████████| 24/24 [01:14<00:00,  3.09s/it]
Ablating: 100%|██████████| 24/24 [01:46<00:00,  4.42s/it]

,mem,cp,diff,mem_std,cp_std,diff_std,mem_win,cp_win,experiment,fa_alpha,cofa_alpha,percentage
0,14.532300,17.067745,-2.535445,1.582479,2.740251,2.591399,1274.0,8660.0,individual,1,0,0.128246
0,13.966662,17.532597,-3.565933,1.673361,2.688501,2.663716,421.0,9540.0,individual,5,1,0.042265
0,14.509600,17.066998,-2.557397,1.588190,2.716855,2.574206,1205.0,8733.0,individual,5,0,0.121252

## Random boosting

You can pass to the model your own modification function. You can pass a list of hook (string, function) to the model using set_hooks method. The hooks should be consistent with the hook of the transformer lens library (https://neelnanda-io.github.io/TransformerLens/index.html)

In [19]:
import numpy as np
np.random.seed(147)
random_early_heads = np.stack([np.random.choice(range(4), 5), np.random.choice(range(12), 5)]).T

random_middle_heads = np.stack([np.random.choice(range(4, 8), 5), np.random.choice(range(12), 5)]).T

random_late_heads = np.stack([np.random.choice(range(8, 12), 5), np.random.choice(range(12), 5)]).T


print(random_early_heads)
print(random_middle_heads)
print(random_late_heads)

random = []
for head in random_early_heads:
    ablator.set_heads(heads=[head], value=5, position="attribute") #fact
    df = ablator.run()
    df["experiment"] = "random_early"
    df["heads"] = str(head)
    random.append(df)

for head in random_middle_heads:
    ablator.set_heads(heads=[head], value=5, position="attribute") #fact
    df = ablator.run()
    df["experiment"] = "random_mid"
    df["heads"] = str(head)
    random.append(df)

for head in random_late_heads:
    ablator.set_heads(heads=[head], value=5, position="attribute") #fact
    df = ablator.run()
    df["experiment"] = "random_late"
    df["heads"] = str(head)
    random.append(df)

random_data = pd.concat(random)
random_data["fa_alpha"] = 5
random_data["cofa_alpha"] = 1

[[ 2  9]
 [ 0 11]
 [ 3  9]
 [ 1  1]
 [ 2  2]]
[[6 4]
 [6 8]
 [4 8]
 [6 9]
 [6 0]]
[[11 11]
 [ 8  8]
 [ 9 10]
 [10  6]
 [ 8 10]]

Ablating:   0%|          | 0/24 [00:00<?, ?it/s]

Ablating: 100%|██████████| 24/24 [01:19<00:00,  3.29s/it]
Ablating: 100%|██████████| 24/24 [01:17<00:00,  3.22s/it]
Ablating: 100%|██████████| 24/24 [01:17<00:00,  3.23s/it]
Ablating: 100%|██████████| 24/24 [01:19<00:00,  3.30s/it]
Ablating: 100%|██████████| 24/24 [01:17<00:00,  3.23s/it]
Ablating: 100%|██████████| 24/24 [01:16<00:00,  3.17s/it]
Ablating: 100%|██████████| 24/24 [01:17<00:00,  3.24s/it]
Ablating: 100%|██████████| 24/24 [01:17<00:00,  3.21s/it]
Ablating: 100%|██████████| 24/24 [01:18<00:00,  3.29s/it]
Ablating: 100%|██████████| 24/24 [01:19<00:00,  3.30s/it]
Ablating: 100%|██████████| 24/24 [01:21<00:00,  3.38s/it]
Ablating: 100%|██████████| 24/24 [01:18<00:00,  3.29s/it]
Ablating: 100%|██████████| 24/24 [01:19<00:00,  3.29s/it]
Ablating: 100%|██████████| 24/24 [01:20<00:00,  3.37s/it]
Ablating: 100%|██████████| 24/24 [01:16<00:00,  3.19s/it]

In [21]:
random_data

,mem,cp,diff,mem_std,cp_std,diff_std,mem_win,cp_win,experiment,heads,fa_alpha,cofa_alpha
0,13.978224,17.562319,-3.584095,1.674854,2.684771,2.664509,412.0,9549.0,random_early,[2 9],5,0
0,13.982534,17.562664,-3.580130,1.674376,2.685891,2.665895,415.0,9545.0,random_early,[ 0 11],5,0
0,13.980992,17.560793,-3.579801,1.674256,2.685249,2.664893,414.0,9546.0,random_early,[3 9],5,0
0,13.979218,17.562819,-3.583604,1.674818,2.684860,2.664897,413.0,9547.0,random_early,[1 1],5,0
0,13.981484,17.561604,-3.580119,1.674214,2.685148,2.665253,413.0,9547.0,random_early,[2 2],5,0
0,13.957660,17.572296,-3.614634,1.684924,2.684916,2.673928,401.0,9553.0,random_mid,[6 4],5,0
0,13.976337,17.561872,-3.585535,1.674760,2.685283,2.664190,411.0,9550.0,random_mid,[6 8],5,0
0,13.980709,17.551096,-3.570386,1.670367,2.681311,2.663061,415.0,9545.0,random_mid,[4 8],5,0
0,13.914752,17.913893,-3.999141,1.741619,2.659269,2.669430,299.0,9661.0,random_mid,[6 9],5,0
0,13.982951,17.559069,-3.576116,1.673546,2.685097,2.665607,418.0,9542.0,random_mid,[6 0],5,0
0,14.096907,18.117632,-4.020727,1.679210,2.602376,2.661140,284.0,9681.0,random_late,[11 11],5,0
0,13.972737,17.550617,-3.577880,1.671500,2.693411,2.674344,435.0,9527.0,random_late,[8 8],5,0
0,13.982300,17.562359,-3.580059,1.674386,2.686255,2.665468,413.0,9548.0,random_late,[ 9 10],5,0
0,13.485789,17.511213,-4.025423,1.761994,2.661398,2.712043,296.0,9663.0,random_late,[10 6],5,0
0,14.528996,17.232029,-2.703031,1.787780,2.940329,2.784095,1296.0,8609.0,random_late,[ 8 10],5,0

In [ ]:
consecutive = [[[l, h],[(l+1)%12, np.random.choice(range(12))]] for l, h in np.vstack([random_early_heads,random_middle_heads,random_late_heads])]
print(consecutive)

[[[2, 9], [3, 10]], [[0, 11], [1, 2]], [[3, 9], [4, 6]], [[1, 1], [2, 6]], [[2, 2], [3, 10]], [[6, 4], [7, 7]], [[6, 8], [7, 7]], [[4, 8], [5, 8]], [[6, 9], [7, 10]], [[6, 0], [7, 3]], [[11, 11], [0, 3]], [[8, 8], [9, 7]], [[9, 10], [10, 11]], [[10, 6], [11, 7]], [[8, 10], [9, 3]]]
[[[2, 9], [2, 10]], [[0, 11], [0, 0]], [[3, 9], [3, 10]], [[1, 1], [1, 2]], [[2, 2], [2, 3]], [[6, 4], [6, 5]], [[6, 8], [6, 9]], [[4, 8], [4, 9]], [[6, 9], [6, 10]], [[6, 0], [6, 1]], [[11, 11], [11, 0]], [[8, 8], [8, 9]], [[9, 10], [9, 11]], [[10, 6], [10, 7]], [[8, 10], [8, 11]]]

In [29]:
for heads in consecutive:
    ablator.set_heads(heads=heads, value=5, position="attribute") #fact
    df = ablator.run()
    df["experiment"] = "consecutive"
    df["heads"] = str(heads)
    random.append(df)

Ablating: 100%|██████████| 24/24 [01:50<00:00,  4.61s/it]
Ablating: 100%|██████████| 24/24 [01:51<00:00,  4.65s/it]
Ablating: 100%|██████████| 24/24 [01:49<00:00,  4.55s/it]
Ablating: 100%|██████████| 24/24 [01:48<00:00,  4.52s/it]
Ablating: 100%|██████████| 24/24 [01:49<00:00,  4.57s/it]
Ablating: 100%|██████████| 24/24 [01:50<00:00,  4.61s/it]
Ablating: 100%|██████████| 24/24 [01:48<00:00,  4.53s/it]
Ablating: 100%|██████████| 24/24 [01:47<00:00,  4.50s/it]
Ablating: 100%|██████████| 24/24 [01:49<00:00,  4.58s/it]
Ablating: 100%|██████████| 24/24 [01:50<00:00,  4.60s/it]
Ablating: 100%|██████████| 24/24 [01:48<00:00,  4.54s/it]
Ablating: 100%|██████████| 24/24 [01:48<00:00,  4.51s/it]
Ablating: 100%|██████████| 24/24 [01:49<00:00,  4.55s/it]
Ablating: 100%|██████████| 24/24 [01:48<00:00,  4.51s/it]
Ablating: 100%|██████████| 24/24 [01:47<00:00,  4.47s/it]

In [30]:
random_data = pd.concat(random)
random_data["fa_alpha"] = 5
random_data["cofa_alpha"] = 1
random_data

,mem,cp,diff,mem_std,cp_std,diff_std,mem_win,cp_win,experiment,heads,fa_alpha,cofa_alpha
0,13.978224,17.562319,-3.584095,1.674854,2.684771,2.664509,412.0,9549.0,random_early,[2 9],5,1
0,13.982534,17.562664,-3.580130,1.674376,2.685891,2.665895,415.0,9545.0,random_early,[ 0 11],5,1
0,13.980992,17.560793,-3.579801,1.674256,2.685249,2.664893,414.0,9546.0,random_early,[3 9],5,1
0,13.979218,17.562819,-3.583604,1.674818,2.684860,2.664897,413.0,9547.0,random_early,[1 1],5,1
0,13.981484,17.561604,-3.580119,1.674214,2.685148,2.665253,413.0,9547.0,random_early,[2 2],5,1
0,13.957660,17.572296,-3.614634,1.684924,2.684916,2.673928,401.0,9553.0,random_mid,[6 4],5,1
0,13.976337,17.561872,-3.585535,1.674760,2.685283,2.664190,411.0,9550.0,random_mid,[6 8],5,1
0,13.980709,17.551096,-3.570386,1.670367,2.681311,2.663061,415.0,9545.0,random_mid,[4 8],5,1
0,13.914752,17.913893,-3.999141,1.741619,2.659269,2.669430,299.0,9661.0,random_mid,[6 9],5,1
0,13.982951,17.559069,-3.576116,1.673546,2.685097,2.665607,418.0,9542.0,random_mid,[6 0],5,1
0,14.096907,18.117632,-4.020727,1.679210,2.602376,2.661140,284.0,9681.0,random_late,[11 11],5,1
0,13.972737,17.550617,-3.577880,1.671500,2.693411,2.674344,435.0,9527.0,random_late,[8 8],5,1
0,13.982300,17.562359,-3.580059,1.674386,2.686255,2.665468,413.0,9548.0,random_late,[ 9 10],5,1
0,13.485789,17.511213,-4.025423,1.761994,2.661398,2.712043,296.0,9663.0,random_late,[10 6],5,1
0,14.528996,17.232029,-2.703031,1.787780,2.940329,2.784095,1296.0,8609.0,random_late,[ 8 10],5,1
0,13.977230,17.561531,-3.584303,1.675375,2.685102,2.666089,411.0,9548.0,consecutive,"[[2, 9], [3, 10]]",5,1
0,13.982701,17.562740,-3.580038,1.674030,2.684355,2.665358,416.0,9544.0,consecutive,"[[0, 11], [1, 2]]",5,1
0,13.976628,17.563187,-3.586557,1.675126,2.688131,2.665571,415.0,9548.0,consecutive,"[[3, 9], [4, 6]]",5,1
0,13.975757,17.559769,-3.584011,1.674585,2.683553,2.663538,412.0,9549.0,consecutive,"[[1, 1], [2, 6]]",5,1
0,13.980500,17.560827,-3.580327,1.674736,2.685474,2.666825,412.0,9548.0,consecutive,"[[2, 2], [3, 10]]",5,1
0,14.172379,17.702549,-3.530171,1.750031,2.809501,2.665730,426.0,9529.0,consecutive,"[[6, 4], [7, 7]]",5,1
0,14.191037,17.688347,-3.497311,1.737118,2.805721,2.648717,443.0,9518.0,consecutive,"[[6, 8], [7, 7]]",5,1
0,13.951162,17.518375,-3.567214,1.680714,2.664644,2.654579,421.0,9540.0,consecutive,"[[4, 8], [5, 8]]",5,1
0,13.609138,17.868387,-4.259251,1.770133,2.713206,2.650308,223.0,9748.0,consecutive,"[[6, 9], [7, 10]]",5,1
0,13.978116,17.564991,-3.586875,1.674674,2.656405,2.651977,397.0,9561.0,consecutive,"[[6, 0], [7, 3]]",5,1
0,14.096915,18.117702,-4.020786,1.679208,2.602362,2.661135,284.0,9681.0,consecutive,"[[11, 11], [0, 3]]",5,1
0,13.928716,17.560940,-3.632222,1.684596,2.699653,2.679350,405.0,9548.0,consecutive,"[[8, 8], [9, 7]]",5,1
0,13.829581,17.509333,-3.679752,1.688830,2.606583,2.607404,331.0,9629.0,consecutive,"[[9, 10], [10, 11]]",5,1
0,13.816692,17.981363,-4.164672,1.898157,2.741277,2.701257,240.0,9713.0,consecutive,"[[10, 6], [11, 7]]",5,1
0,14.530410,17.233000,-2.702590,1.788503,2.944325,2.786433,1298.0,8607.0,consecutive,"[[8, 10], [9, 3]]",5,1

In [31]:
same_layer = [[[l, h] , [l, np.random.choice(range(12))]] for l, h in np.vstack([random_early_heads,random_middle_heads,random_late_heads])]
print(same_layer)

[[[2, 9], [2, 1]], [[0, 11], [0, 9]], [[3, 9], [3, 7]], [[1, 1], [1, 4]], [[2, 2], [2, 3]], [[6, 4], [6, 0]], [[6, 8], [6, 1]], [[4, 8], [4, 0]], [[6, 9], [6, 0]], [[6, 0], [6, 2]], [[11, 11], [11, 11]], [[8, 8], [8, 8]], [[9, 10], [9, 10]], [[10, 6], [10, 8]], [[8, 10], [8, 10]]]

In [32]:
for heads in same_layer:
    ablator.set_heads(heads=heads, value=5, position="attribute") #fact
    df = ablator.run()
    df["experiment"] = "same_layer"
    df["heads"] = str(heads)
    random.append(df)

random_data = pd.concat(random)
random_data["fa_alpha"] = 5
random_data["cofa_alpha"] = 1
random_data

Ablating: 100%|██████████| 24/24 [01:49<00:00,  4.56s/it]
Ablating: 100%|██████████| 24/24 [01:50<00:00,  4.61s/it]
Ablating: 100%|██████████| 24/24 [01:48<00:00,  4.52s/it]
Ablating: 100%|██████████| 24/24 [01:50<00:00,  4.62s/it]
Ablating: 100%|██████████| 24/24 [01:49<00:00,  4.57s/it]
Ablating: 100%|██████████| 24/24 [01:48<00:00,  4.51s/it]
Ablating: 100%|██████████| 24/24 [01:48<00:00,  4.51s/it]
Ablating: 100%|██████████| 24/24 [01:48<00:00,  4.52s/it]
Ablating: 100%|██████████| 24/24 [01:48<00:00,  4.53s/it]
Ablating: 100%|██████████| 24/24 [01:48<00:00,  4.51s/it]
Ablating: 100%|██████████| 24/24 [01:50<00:00,  4.59s/it]
Ablating: 100%|██████████| 24/24 [01:48<00:00,  4.51s/it]
Ablating: 100%|██████████| 24/24 [01:48<00:00,  4.51s/it]
Ablating: 100%|██████████| 24/24 [01:49<00:00,  4.56s/it]
Ablating: 100%|██████████| 24/24 [01:48<00:00,  4.54s/it]

,mem,cp,diff,mem_std,cp_std,diff_std,mem_win,cp_win,experiment,heads,fa_alpha,cofa_alpha
0,13.978224,17.562319,-3.584095,1.674854,2.684771,2.664509,412.0,9549.0,random_early,[2 9],5,1
0,13.982534,17.562664,-3.580130,1.674376,2.685891,2.665895,415.0,9545.0,random_early,[ 0 11],5,1
0,13.980992,17.560793,-3.579801,1.674256,2.685249,2.664893,414.0,9546.0,random_early,[3 9],5,1
0,13.979218,17.562819,-3.583604,1.674818,2.684860,2.664897,413.0,9547.0,random_early,[1 1],5,1
0,13.981484,17.561604,-3.580119,1.674214,2.685148,2.665253,413.0,9547.0,random_early,[2 2],5,1
0,13.957660,17.572296,-3.614634,1.684924,2.684916,2.673928,401.0,9553.0,random_mid,[6 4],5,1
0,13.976337,17.561872,-3.585535,1.674760,2.685283,2.664190,411.0,9550.0,random_mid,[6 8],5,1
0,13.980709,17.551096,-3.570386,1.670367,2.681311,2.663061,415.0,9545.0,random_mid,[4 8],5,1
0,13.914752,17.913893,-3.999141,1.741619,2.659269,2.669430,299.0,9661.0,random_mid,[6 9],5,1
0,13.982951,17.559069,-3.576116,1.673546,2.685097,2.665607,418.0,9542.0,random_mid,[6 0],5,1
0,14.096907,18.117632,-4.020727,1.679210,2.602376,2.661140,284.0,9681.0,random_late,[11 11],5,1
0,13.972737,17.550617,-3.577880,1.671500,2.693411,2.674344,435.0,9527.0,random_late,[8 8],5,1
0,13.982300,17.562359,-3.580059,1.674386,2.686255,2.665468,413.0,9548.0,random_late,[ 9 10],5,1
0,13.485789,17.511213,-4.025423,1.761994,2.661398,2.712043,296.0,9663.0,random_late,[10 6],5,1
0,14.528996,17.232029,-2.703031,1.787780,2.940329,2.784095,1296.0,8609.0,random_late,[ 8 10],5,1
0,13.977230,17.561531,-3.584303,1.675375,2.685102,2.666089,411.0,9548.0,consecutive,"[[2, 9], [3, 10]]",5,1
0,13.982701,17.562740,-3.580038,1.674030,2.684355,2.665358,416.0,9544.0,consecutive,"[[0, 11], [1, 2]]",5,1
0,13.976628,17.563187,-3.586557,1.675126,2.688131,2.665571,415.0,9548.0,consecutive,"[[3, 9], [4, 6]]",5,1
0,13.975757,17.559769,-3.584011,1.674585,2.683553,2.663538,412.0,9549.0,consecutive,"[[1, 1], [2, 6]]",5,1
0,13.980500,17.560827,-3.580327,1.674736,2.685474,2.666825,412.0,9548.0,consecutive,"[[2, 2], [3, 10]]",5,1
0,14.172379,17.702549,-3.530171,1.750031,2.809501,2.665730,426.0,9529.0,consecutive,"[[6, 4], [7, 7]]",5,1
0,14.191037,17.688347,-3.497311,1.737118,2.805721,2.648717,443.0,9518.0,consecutive,"[[6, 8], [7, 7]]",5,1
0,13.951162,17.518375,-3.567214,1.680714,2.664644,2.654579,421.0,9540.0,consecutive,"[[4, 8], [5, 8]]",5,1
0,13.609138,17.868387,-4.259251,1.770133,2.713206,2.650308,223.0,9748.0,consecutive,"[[6, 9], [7, 10]]",5,1
0,13.978116,17.564991,-3.586875,1.674674,2.656405,2.651977,397.0,9561.0,consecutive,"[[6, 0], [7, 3]]",5,1
0,14.096915,18.117702,-4.020786,1.679208,2.602362,2.661135,284.0,9681.0,consecutive,"[[11, 11], [0, 3]]",5,1
0,13.928716,17.560940,-3.632222,1.684596,2.699653,2.679350,405.0,9548.0,consecutive,"[[8, 8], [9, 7]]",5,1
0,13.829581,17.509333,-3.679752,1.688830,2.606583,2.607404,331.0,9629.0,consecutive,"[[9, 10], [10, 11]]",5,1
0,13.816692,17.981363,-4.164672,1.898157,2.741277,2.701257,240.0,9713.0,consecutive,"[[10, 6], [11, 7]]",5,1
0,14.530410,17.233000,-2.702590,1.788503,2.944325,2.786433,1298.0,8607.0,consecutive,"[[8, 10], [9, 3]]",5,1
0,13.977322,17.556646,-3.579324,1.673668,2.685113,2.660665,412.0,9549.0,same_layer,"[[2, 9], [2, 1]]",5,1
0,13.973330,17.545219,-3.571887,1.673164,2.683423,2.665240,421.0,9539.0,same_layer,"[[0, 11], [0, 9]]",5,1
0,13.980803,17.560966,-3.580163,1.674299,2.685208,2.664805,414.0,9546.0,same_layer,"[[3, 9], [3, 7]]",5,1
0,13.977275,17.560266,-3.582992,1.674124,2.682495,2.663572,411.0,9549.0,same_layer,"[[1, 1], [1, 4]]",5,1
0,13.982212,17.562559,-3.580347,1.674192,2.684917,2.665074,413.0,9547.0,same_layer,"[[2, 2], [2, 3]]",5,1
0,13.959073,17.569801,-3.610727,1.684262,2.684775,2.674200,404.0,9550.0,same_layer,"[[6, 4], [6, 0]]",5,1
0,13.978046,17.563757,-3.585709,1.675677,2.666288,2.659179,404.0,9557.0,same_layer,"[[6, 8], [6, 1]]",5,1
0,13.980626,17.551001,-3.570374,1.670384,2.681303,2.663058,415.0,9545.0,same_layer,"[[4, 8], [4, 0]]",5,1
0,13.915815,17.911505,-3.995687,1.741015,2.659121,2.669603,301.0,9659.0,same_layer,"[[6, 9], [6, 0]]",5,1
0,13.956775,17.559065,-3.602290,1.677010,2.686299,2.660156,399.0,9561.0,same_layer,"[[6, 0], [6, 2]]",5,1
0,14.105148,18.209169,-4.104020,1.679817,2.629416,2.670120,263.0,9704.0,same_layer,"[[11, 11], [11, 11]]",5,1
0,13.972641,17.549475,-3.576835,1.671421,2.693149,2.674372,436.0,9524.0,same_layer,"[[8, 8], [8, 8]]",5,1
0,13.982300,17.562359,-3.580059,1.674385,2.686256,2.665468,413.0,9548.0,same_layer,"[[9, 10], [9, 10]]",5,1
0,13.482153,17.529045,-4.046893,1.773069,2.661750,2.723481,301.0,9657.0,same_layer,"[[10, 6], [10, 8]]",5,1
0,14.810916,16.906065,-2.095150,1.838773,3.080291,2.968839,2298.0,7543.0,same_layer,"[[8, 10], [8, 10]]",5,1

In [34]:
ablator.set_heads(heads=[(8, 10)], value=25, position="attribute") #fact
df = ablator.run()
df["experiment"] = "same_layer"
df["heads"] = str(heads)
df

Ablating:   0%|          | 0/24 [00:00<?, ?it/s]

Ablating: 100%|██████████| 24/24 [03:10<00:00,  7.92s/it]

,mem,cp,diff,mem_std,cp_std,diff_std,mem_win,cp_win,experiment,heads
0,14.810916,16.906065,-2.09515,1.838773,3.080291,2.968839,2298.0,7543.0,same_layer,"[[8, 10], [8, 10]]"

In [96]:
ablator.set_heads(heads=[(8, 10)], value=5, position="all") #fact

df = ablator.run()
df["experiment"] = "same_layer"
df["heads"] = str(heads)
df

Ablating: 100%|██████████| 24/24 [10:21<00:00, 25.91s/it]

,mem,cp,diff,mem_std,cp_std,diff_std,mem_win,cp_win,experiment,heads
0,14.225165,17.378206,-3.15304,1.656526,2.513633,2.518809,588.0,9368.0,same_layer,"[[8, 10], [8, 10]]"

In [13]:
single_boost = pd.read_csv("single_boost.csv")
single_boost['heads'] = single_boost['heads'].apply(lambda x: eval(x))
single_boost_all = single_boost[single_boost['pos'] == 'all'].drop_duplicates()
single_boost_attribute = single_boost[single_boost['pos'] == 'attribute'].drop_duplicates()

In [14]:
early_layers_all = single_boost_all[single_boost_all['heads'].apply(lambda x: x[0] < 4)]
mid_layers_all = single_boost_all[single_boost_all['heads'].apply(lambda x: 4 <= x[0] < 8)]
late_layers_all = single_boost_all[single_boost_all['heads'].apply(lambda x: 8 <= x[0])]


single_all_stats = pd.DataFrame(([early_layers_all.describe()['mem_win'], mid_layers_all.describe()['mem_win'], late_layers_all.describe()['mem_win']]))
single_all_stats.index = ['early', 'mid', 'late']
single_all_stats

       count        mean         std    min     25%    50%    75%    max
early   32.0  427.250000   32.127769  380.0  409.00  418.0  438.0  569.0
mid     24.0  446.583333   83.396860  307.0  412.75  434.0  450.0  793.0
late    27.0  447.592593  131.663107  277.0  405.00  419.0  430.5  899.0

In [15]:
by_layers_all = [single_boost_all[single_boost_all['heads'].apply(lambda x: x[0] == i)].describe()['mem_win'] for i in range(12)]

by_layers_all = pd.concat(by_layers_all, axis=1).T
by_layers_all['layer'] = range(12)
by_layers_all.set_index('layer', inplace=True)
by_layers_all

       count        mean         std    min     25%    50%     75%    max
layer
0        7.0  417.142857   12.469009  407.0  409.00  413.0  421.00  440.0
1        7.0  447.714286   56.319666  405.0  418.00  429.0  447.50  569.0
2        8.0  425.125000   27.720222  380.0  413.00  423.0  440.00  473.0
3       10.0  421.700000   17.204973  404.0  411.75  415.0  428.25  461.0
4        7.0  422.428571   15.830952  397.0  412.50  427.0  432.50  443.0
5        3.0  440.666667   33.261589  403.0  428.00  453.0  459.50  466.0
6        6.0  497.500000  147.489322  408.0  418.25  444.5  475.25  793.0
7        8.0  431.750000   60.920909  307.0  420.50  435.5  452.75  525.0
8        7.0  394.428571   53.156552  277.0  401.00  406.0  423.50  429.0
9        5.0  405.000000   17.860571  382.0  393.00  410.0  412.00  428.0
10       7.0  490.571429  181.519381  386.0  414.00  422.0  449.50  899.0
11       8.0  483.125000  161.644617  402.0  423.50  428.5  438.50  882.0

In [16]:
early_layers_attribute = single_boost_attribute[single_boost_attribute['heads'].apply(lambda x: x[0] < 4)]
mid_layers_attribute = single_boost_attribute[single_boost_attribute['heads'].apply(lambda x: 4 <= x[0] < 8)]
late_layers_attribute = single_boost_attribute[single_boost_attribute['heads'].apply(lambda x: 8 <= x[0])]

single_attribute_stats = pd.DataFrame(([early_layers_attribute.describe()['mem_win'], mid_layers_attribute.describe()['mem_win'], late_layers_attribute.describe()['mem_win']]))
single_attribute_stats.index = ['early', 'mid', 'late']
single_attribute_stats

       count        mean         std    min    25%    50%     75%     max
early   21.0  413.238095    2.188716  411.0  412.0  413.0  413.00   420.0
mid     23.0  415.043478   92.814320  249.0  404.0  413.0  414.00   796.0
late    22.0  389.136364  232.816767   21.0  310.0  385.5  412.75  1296.0

In [17]:
by_layers_attribute = [single_boost_attribute[single_boost_attribute['heads'].apply(lambda x: x[0] == i)].describe()['mem_win'] for i in range(12)]

by_layers_attribute = pd.concat(by_layers_attribute, axis=1).T
by_layers_attribute['layer'] = range(12)
by_layers_attribute.set_index('layer', inplace=True)
by_layers_attribute

       count        mean         std    min     25%    50%     75%     max
layer
0        6.0  414.500000    3.016621  412.0  412.25  414.0  415.00   420.0
1        3.0  413.000000    0.000000  413.0  413.00  413.0  413.00   413.0
2        7.0  413.000000    2.309401  411.0  412.00  412.0  413.00   418.0
3        5.0  412.200000    0.836660  411.0  412.00  412.0  413.00   413.0
4        6.0  413.333333    1.032796  412.0  413.00  413.0  413.75   415.0
5        6.0  404.500000   11.623253  383.0  401.75  409.0  412.50   413.0
6        7.0  440.857143  167.636938  249.0  398.50  412.0  416.00   796.0
7        4.0  388.250000   63.258069  294.0  384.00  414.5  418.75   430.0
8        6.0  550.000000  366.044260  368.0  392.25  413.5  421.25  1296.0
9        6.0  332.500000  115.012608  111.0  323.50  386.0  394.50   412.0
10       3.0  349.666667   70.945989  273.0  318.00  363.0  388.00   413.0
11       7.0  316.714286  171.382335   21.0  254.50  331.0  392.00   572.0

In [21]:
double_boost = pd.read_csv("double_boost.csv")
double_boost['heads'] = double_boost['heads'].apply(lambda x: eval(x))
double_boost_all = double_boost[double_boost['pos'] == 'all'].drop_duplicates()
double_boost_attribute = double_boost[double_boost['pos'] == 'attribute'][:-3].drop_duplicates()

In [22]:
same_layer_all = double_boost_all[double_boost_all['heads'].apply(lambda x: x[0][0] == x[1][0])]
one_layer_apart_all = double_boost_all[double_boost_all['heads'].apply(lambda x: abs(x[0][0] - x[1][0]) == 1)]
med_far_away_all = double_boost_all[double_boost_all['heads'].apply(lambda x: 1 < abs(x[0][0] - x[1][0]) < 5)]
far_away_all = double_boost_all[double_boost_all['heads'].apply(lambda x: abs(x[0][0] - x[1][0]) > 5)]

double_all_stats = pd.DataFrame(([same_layer_all.describe()['mem_win'], one_layer_apart_all.describe()['mem_win'], med_far_away_all.describe()['mem_win'], far_away_all.describe()['mem_win']]))
double_all_stats.index = ['same_layer', 'one_layer_apart', 'med_far_away', 'far_away']
double_all_stats

,count,mean,std,min,25%,50%,75%,max
same_layer,6.0,418.000000,84.204513,315.0,362.5,424.0,442.75,554.0
one_layer_apart,20.0,405.400000,40.179073,322.0,389.5,405.5,428.25,484.0
med_far_away,30.0,492.300000,136.911789,332.0,417.5,449.5,523.25,925.0
far_away,29.0,470.206897,126.492908,284.0,409.0,441.0,473.00,824.0

In [23]:
same_layer_attribute = double_boost_attribute[double_boost_attribute['heads'].apply(lambda x: x[0][0] == x[1][0])]
one_layer_apart_attribute = double_boost_attribute[double_boost_attribute['heads'].apply(lambda x: abs(x[0][0] - x[1][0]) == 1)]
med_far_away_attribute = double_boost_attribute[double_boost_attribute['heads'].apply(lambda x: 1 < abs(x[0][0] - x[1][0]) < 5)]
far_away_attribute = double_boost_attribute[double_boost_attribute['heads'].apply(lambda x: abs(x[0][0] - x[1][0]) > 5)]

double_attribute_stats = pd.DataFrame(([same_layer_attribute.describe()['mem_win'], one_layer_apart_attribute.describe()['mem_win'], med_far_away_attribute.describe()['mem_win'], far_away_attribute.describe()['mem_win']]))
double_attribute_stats.index = ['same_layer', 'one_layer_apart', 'med_far_away', 'far_away']
double_attribute_stats

,count,mean,std,min,25%,50%,75%,max
same_layer,23.0,393.260870,43.519293,281.0,392.50,412.0,414.50,456.0
one_layer_apart,28.0,409.178571,202.149753,56.0,395.00,411.5,415.25,1298.0
med_far_away,20.0,405.700000,45.171137,293.0,392.00,411.5,415.00,524.0
far_away,28.0,363.321429,122.159899,21.0,281.25,401.0,416.00,671.0